* {
	font-family: Consolas;
	vertical-align: middle;
}

body {
	margin: 4rem;
	margin-left: 20rem;
	margin-right: 20rem;
	text-align: center;
	opacity: 0;
	transition: opacity 0.2s;
}

button {
	border: none;
	cursor: pointer;
}

button:hover {
	box-shadow: inset 0 0 100px 100px rgb(255, 255, 255, 0.2);
}

button:active,
::-webkit-scrollbar-thumb:hover {
	box-shadow: inset 0 0 100px 100px rgb(0, 0, 0, 0.2);
}

button:focus {
	outline: none;
}

#stats {
	float: left;
	font-size: 25px;
}

#typeMode {
	float: right;
}

.modes {
	cursor: pointer;
	vertical-align: top;
	border: 2px;
	text-align: right;
}

.stats-left {
	margin-top: -10px;
	float: left;
}

#bigstats {
	font-size: 108px;
	border: 2px;
}

#txtdisplay {
	margin-top: 8rem;
	text-align: left;
	font-size: 22px;
	overflow: hidden;
}

#txt {
	float: center;
	margin-top: 2rem;
	font-size: 20px;
	padding: 0.4rem 0.4rem;
	border: none;
	border-bottom: 2px solid;
	background: transparent;
}

#txt:focus {
	outline: none;
}

#retry {
	float: center;
	margin-top: 2rem;
	margin-left: 1rem;
	padding: 0.6rem 0.6rem;
	border-radius: 0.2rem;
}

#pages {
	width: fit-content;
	margin: 3rem auto;
	text-align: center;
	font-size: 15px;
}

#record-page,
#theme-page,
#lang-page,
#home-page {
	color: unset;
	text-decoration: none;
	background: none;
}

.table {
	display: table;
	position: relative;
	text-align: center;
}

.block {
	display: inline-block;
}

#head {
	font-size: 120px;
	margin-right: 7rem;
}

#subhead {
	font-size: 26.67px;
	text-align: center;
	margin-bottom: 1rem;
}

#subsubhead {
	margin-bottom: 1rem;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 3px;
}

#volume-control {
	-webkit-appearance: none; /* Override default CSS styles */
	margin-top: 3rem;
	appearance: none;
	height: 0.5rem;
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
	border-radius: 0.5rem;
	transition: opacity 0.2s;
}

/* Mouse-over effects */
#volume-control:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

#volume-control::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	border-radius: 0.7rem;
	width: 0.7rem; /* Set a specific slider handle width */
	height: 0.7rem; /* Slider handle height */
	cursor: pointer;
}
