* {
  font-family: Consolas;
  vertical-align: middle;
}

body {
  margin: 7rem;
  margin-left: 15rem;
  margin-right: 15rem;
  text-align: center;
}

#stats {
  float: left;
  font-size: 25px;
}

#typeMode {
  float: right;
}

.modes {
  cursor: pointer;
  vertical-align: top;
  border: 2px;
  text-align: right;
}

.stats-left {
  margin-top: -35px;
  float: left;
}

#bigstats {
  font-size: 108px;
  border: 2px;
}

#txtdisplay {
  margin-top: 6rem;
  text-align: left;
  font-size: 20px;
  border: 15px;
  overflow: hidden;
}

#txt {
  float: left;
  margin-top: 2rem;
  font-size: 20px;
  padding: 0.4rem 0.4rem;
  border-radius: 0.2em;
  border: none;
}

#txt:focus {
  outline: none;
}

#retry {
  float: left;
  margin-top: 2rem;
  margin-left: 1rem;
  padding: 0.6rem 0.6rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
}

#retry:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

.pages {
  margin-top: 15rem;
}

.pages:focus {
  outline: none;
}

#record-page {
  color: unset;
  text-decoration: none;
}

#theme-page {
  color: unset;
  text-decoration: none;
}

#lang-page {
  color: unset;
  text-decoration: none;
}
