body {
	background-color: #191919;
}

#head,
#retry {
	color: #141414;
}

.row-alt {
	background-color: rgb(20, 20, 20);
}

body,
button,
#retry,
.clear,
#txt,
.pages,
#subhead {
	color: #c2c3c5;
}

#typeMode,
#subsubhead,
#bigstats,
.highlight {
	color: #f24977;
}

#retry {
	background: #f24977;
}

.selected {
	border: 3px solid #f24977;
}

.wrongfield {
	border-bottom: 2px solid #ff4343 !important;
}

.wrong {
	color: #c44545;
}

.correct {
	color: #9cff11;
}
